@font-face {
  font-family: 'Nikoovers';
  src: url('../fonts/Nikoovers-GORam.ttf') format('truetype');
}

@font-face {
  font-family: 'NexaRegular';
  src: url('../fonts/NexaRegular.otf') format('opentype');
}

@font-face {
  font-family: 'NexaBold';
  src: url('../fonts/Nexa_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'NexaLight';
  src: url('./assets/fonts/Nexa_Light.otf') format('opentype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'NexaRegular';
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  letter-spacing: 1px;
  color: #373737;
  overflow-x: hidden;
}

.topo {
  position: relative;
  background-image: url('../imgs/Design_sem_nome.png');
  background-position: center 10%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.topo img {
  width: 550px;
}

.texto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  width: 35%;
  height: 100%;
}

.texto-container h1 {
  font-size: 35px;
  font-family: 'NexaBold';
  width: 500px;
  color: #fff;
}

.texto-container p {
  font-size: 18px;
  width: 500px;
  color: #fff;
}

.texto-container img {
  width: 300px;
  margin-bottom: 30px;
}

.texto-container a {
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 15px 40px;
  text-decoration: none;
  color: #fff;
  font-family: 'NexaBold';
  margin-top: 10px;
  transition: all .3s;
}

.texto-container a:hover {
  color: #ca60d6;
  background-color: #fff;
}

.texto-container hr {
  width: 30%;
  height: 2px;
  background-color: #ca60d6;
  border-color: #ca60d6;
}

.separador {
  background-color: #eedaf0;
  text-align: center;
  padding: 60px 10px;
  font-size: 14px;
  font-family: 'NexaBold';
}

.sobre {
  background-color: #FCEBFE;
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  flex-wrap: wrap;
}

.cards .card {
  width: 320px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(202, 96, 214, 0.7);
}

.card h3 {
  font-family: 'NexaBold';
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
}

.sobreAna {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sobreAna>div {
  width: 700px;
}

.sobreAna>div h2 {
  font-size: 38px;
  width: 400px;
  font-family: 'NexaBold';
}

.sobreAna>div hr {
  margin-bottom: 30px;
  width: 200px;
  height: 2px;
  background-color: #ca60d6;
  border: #ca60d6;
}

.sobreAna img {
  width: 500px;
}

.cta {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  background: linear-gradient(to right, #874491, #ca60d6);
}

.cta>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cta>div img {
  width: 300px;
}

.cta img {
  width: 500px;
}

.cta a {
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'NexaBold';
  margin-top: 10px;
  transition: all .3s;
}

.cta a:hover {
  background-color: #fff;
  color: #ca60d6;
}

.topicos {
  height: 500px;
  background-color: #eedaf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20px;
}

.topicos h2 {
  font-size: 32px;
  font-family: 'NexaBold';
}

.topicos>div:last-child {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.topicos ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topicos ul li {
  background-color: #FCEBFE;
  list-style: none;
  width: 500px;
  text-align: center;
  padding: 15px 0;
  border-radius: 20px;
  font-family: 'NexaBold';
  font-size: 18px;
  box-shadow: 0 0 10px 0;
  transition: all .2s ease-in-out;
}

.topicos ul li:hover {
  scale: 1.03;
}

.encontros {
  background-color: #ca60d6;
  padding: 40px 20px;
  text-align: center;
}

.encontros h2 {
  font-size: 32px;
  color: #fff;
  font-family: 'NexaBold';
  margin-bottom: 40px;
}

.flores {
  position: absolute;
  width: 300px !important;
  top: 0;
  right: -100px;
  transform: rotate(180deg);
}

.planos {
  background-color: #FCEBFE;
  text-align: center;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.planos-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.plano {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: #eedaf0;
  border-radius: 20px 20px 8px 8px;
  padding: 80px 10px;
  border-top: 10px solid #874491;
  box-shadow: 0 0 10px 0;
}

.plano1 {
  border-top: 10px solid #ca60d6;
}

.plano h2 {
  position: absolute;
  left: 0;
  top: 20px;
  padding: 8px;
  background-color: #ca60d6;
  border-radius: 0 8px 8px 0;
  color: #fff;
}

.plano p {
  font-size: 14px !important;
}

.plano p:nth-child(2) {
  margin-bottom: 10px;
}

.plano p:nth-child(4) {
  font-size: 11px !important;
}

.plano p span {
  text-decoration: line-through;
}

.plano h3 {
  font-size: 38px;
  font-family: 'NexaBold';
}

.planos>h3 {
  font-size: 42px;
  max-width: 900px;
  font-family: 'NexaBold';
}

.planos>p {
  font-size: 22px;
  width: 90%;
  max-width: 1000px;
}

.plano ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plano ul li {
  list-style: none;
  text-align: left;
}

.plano ul li span {
  color: #ca60d6;
}

.plano .comprar-btn {
  text-decoration: none;
  font-family: 'Nexabold';
  padding: 10px 40px;
  margin-top: 10px;
  background-color: #ca60d6;
  color: #fff;
  border-radius: 20px;
  margin-top: 40px;
}

.plano .comprar-btn:hover {
  color: #ca60d6;
  border: 2px solid #ca60d6;
  background-color: transparent;
}

.faq {
  background-color: #eedaf0;
  text-align: center;
  padding: 40px 10px;
}

.faq-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.faq-item {
  width: 48%;
  margin-bottom: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.faq-question {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCEBFE;
}

.faq-answer {
  display: none;
  padding: 10px;
  background-color: #fff;
  text-align: justify;
}

.arrow {
  font-size: 30px;
  transform: rotate(90deg);
  transition: all .3s ease-in-out;
}

.open .arrow {
  transform: rotate(270deg);
}

.form {
  height: 90vh;
  background-color: #FCEBFE;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-img {
  height: 100%;
  position: relative;
}

.form-img img {
  width: 480px;
  position: absolute;
  bottom: 0;
}

.div-form {
  padding: 20px;
  text-align: center;
}

.div-form img {
  width: 300px;
  margin-bottom: 20px;
}

.div-form form {
  box-shadow: 0 0 10px rgba(202, 96, 214, 0.7);
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  padding: 40px 20px;
  position: relative;
}

.div-form span {
  margin-bottom: 10px;
}

.div-form form input {
  width: 100%;
  padding: 6px;
  border: 1px solid #eedaf0;
  outline-color: #ca60d6;
}

.div-form form input[type='submit'] {
  margin-top: 10px;
  background-color: #ca60d6;
  color: #fff;
  font-family: 'NexaBold';
  letter-spacing: .5px;
  border: 2px solid transparent;
  padding: 8px 0;
  cursor: pointer;
  transition: all .3s;
}

.div-form form input[type='submit']:hover {
  background-color: transparent;
  border: 2px solid #ca60d6;
  color: #ca60d6;
}

.submitted {
  width: 100%;
  height: 100%;
  font-size: 25px;
  border-radius: 0%;
  padding: 8px 0;
  color: #ca60d6;
  font-family: 'NexaBold';
  background-color: #FCEBFE;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: red;
}

footer {
  height: 250px;
  background: linear-gradient(to right, #874491, #ca60d6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}


footer>div:last-child {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

footer img {
  width: 130px;
  margin-top: -30px;
}


/* Page Boas Vindas */
.boas-vindas, .negado {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to left, #874491, #ca60d6);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-sizing: border-box; 
  font-size: 22px;
  text-align: center;
}

.boas-vindas .flor {
  position: absolute;
  top: -50px;
  left: -20px;
  width: 300px;
  height: auto;
  transform: rotate(-90deg);
}

.boas-vindas h1 {
  font-size: 48px;
  font-family: 'NexaBold';
  margin-bottom: 60px;
}

.negado h1 {
  font-size: 48px;
  font-family: 'NexaBold';
  margin-bottom: 40px;
  margin-top:  20px;
}

.boas-vindas p {
  width: 900px;
  margin-bottom: 30px;

}

.boas-vindas a {
  border: 2px solid #FCEBFE;
  padding: 20px 30px;
  color: #FCEBFE;
  font-family: 'NexaBold';
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 8px;
}

.boas-vindas a:hover {
  background-color: #FCEBFE;
  color: #874491;
}

.boas-vindas .check {
  width: 250px;
}

.negado .check {
  width: 150px;
  margin-top: 60px;
}

.logoBoasVindas {
  width: 150px;
  position: absolute;
  bottom: 10px;  
}


/* Page checkout */
.container-checkout {
  display: flex;
  flex-direction: row;
}

.description-form {
  width: 30%;
  height: 500px;
  background-color: #eedaf0;
  border-radius: 6px;
  box-shadow: 0 0 10px 0;
}

.description-form h3 {
  font-size: 26px;
}

.description-form h2 {
  margin-top: 40px;
  font-size: 40px;
  font-family: 'NexaBold';
}

.description-form .sacola {
  width: 200px;
  opacity: .8;
}

/* Page pre-inscricao */
.header-pre-inscricao {
  background: #fff;
  text-align: center;
}

.header-pre-inscricao img {
  width: 180px;
}

.pre-inscricao {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, #eaeaff, #c9c9ff);
  height: 70vh;
  padding: 20px;
  border-radius: 0 0 40px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pre-inscricao img {
  max-width: 100%;
}

.pre-inscricao h3 {
  color: #1c1c1c;
  line-height: 0;
}

.pre-inscricao h1 {
  width: 500px;
  color: #ca60d6;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
}

.pre-inscricao p {
  width: 800px;
  color: #666;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.pre-inscricao strong {
  color: #1c1c1ccc;
}

.pre-inscricao form button {
  background: #ca60d6;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pre-inscricao form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.pre-inscricao form input {
  padding: 4px;
  border: none;
  border-radius: 6px;
}

.pre-inscricao form input:focus {
  border: 1px solid #ca60d6;
  outline: none;
}

/* Page Grupo whatsapp */
.header-whatsapp {
  background: #fff;
  text-align: center;
}

.header-whatsapp img {
  width: 180px;
}

.grupo-whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: linear-gradient(to right, #eaeaff, #c9c9ff);
  height: 70vh;
  padding: 20px;
  border-radius: 0 0 40px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.grupo-whatsapp>div {
  margin: 0 auto;
  width: 800px;
}

.grupo-whatsapp h1 {
  color: #ca60d6;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 8px;
}

.grupo-whatsapp p {
  width: 800px;
  color: #666;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 20px;
}


.grupo-whatsapp a {
  text-decoration: none;
  background: #1eac52;
  color: #fff;
  padding: 15px 20px;
  font-size: 22px;
  border: none;
  border-radius:30px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}

.grupo-whatsapp i img {
  width: 30px;
}


@media (max-width: 680px) {
  .topo {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .topo>img {
    width: 100%;
  }

  .texto-container a {
    width: 90vw;
  }

  .texto-container h1 {
    width: 100vw;
    font-size: 26px;
    padding: 0 10px;
  }

  .texto-container p {
    width: 100vw;
    padding: 0 10px;
  }

  .texto-container hr {
    width: 300px;
  }

  .separador {
    font-size: 12px;
  }

  .sobreAna {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 40px;
  }

  .cards .card {
    width: 80%;
    max-width: 400px;
  }

  .sobreAna>div {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }

  .sobreAna>div h2 {
    font-size: 30px;
    width: 100%;
  }

  .sobreAna>div hr {
    width: 100%;
  }

  .sobreAna img {
    width: 400px;
  }

  .cta {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
  }

  .cta img {
    width: 300px;
  }

  .cta a {
    width: 90vw;
  }

  .flores {
    width: 200px !important;
    bottom: 0;
    top: auto;
    right: -80px;
  }

  .plano {
    height: auto;
  }

  .planos>h3 {
    font-size: 30px;
  }

  .faq-container {
    flex-direction: column;
  }

  .faq-item {
    width: 100%;
  }

  .form {
    height: auto;
    background-color: #FCEBFE;
    flex-direction: column-reverse;
    padding-top: 40px;
  }

  .form-img img {
    width: 350px;
    margin-bottom: -8px;
  }

  footer {
    text-align: center;
    flex-direction: column;
    justify-content: sp;
    padding: 20px 0;
    height: 350px;
  }

  footer>div:last-child {
    flex-direction: column;
    align-items: center;
  }

  .container-checkout {
    flex-direction: column;
  }

  .description-form {
    width: 100%;
    height: 400px;
  }

  .description-form h3 {
    font-size: 26px;
  }

  .description-form h2 {
    margin-top: 20px;
    font-size: 30px;
  }

  .description-form .sacola {
    width: 120px;
  }


  .pre-inscricao {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    gap: 60px;
    border-radius: 0 40px 40px 0;
  }

  .pre-inscricao h1 {
    font-size: 18px;
    width: 100%;
  }

  .pre-inscricao p,
  .pre-inscricao h3{
    width: 100%;
    font-size: 16px;
  }

  .pre-inscricao img {
    margin: 0 auto;
  }

  .grupo-whatsapp>div, .grupo-whatsapp p {
    width: 100%;
    height: auto;
  }
}