{% extends 'base/_index.html' %}
{% block content %}
<section class="planos container-checkout">
  <div class="description-form">
    <img src="../static/imgs/logo2.png" alt="Logo">
    <h3>Você está quase lá, Positiva!</h3>
    <p>Finalize a compra do seu {{ product.name }}.</p>
    <h2>Valor total <br>R$ {{ product.price_discount }}</h2>
    <img class="sacola" src="../static/imgs/sacolas-de-compras.png" alt="Foto Sacola de compras">
  </div>
  <div id="cardPaymentBrick_container">
    {% csrf_token %}
    <input type="hidden" id="amount" />
    <input type="hidden" id="checkout__productName" value="{{ product.name }}" />
    <input type="hidden" id="checkout__productId" value="{{ product.id }}" />
    <input type="hidden" id="checkout__productValue" value="{{ product.price_discount }}" />
  </div>
  <script src="/static/js/checkout_bricks.js"></script>
</section>
{% endblock %}