{% extends 'base/_index.html' %}
{% block content %}
<section class="planos">
  <p>Finalize o pagamento do {{ product.name }}</p>
  {% comment %} TODO: realizar a implementação da formatação do valor em reais nesse campo abaixo {% endcomment %}
  <p>Valor total {{ product.price_discount }}
  <form id="form-checkout">
    {% csrf_token %}
    <div id="form-checkout__cardNumber" class="container"></div>
    <div id="form-checkout__expirationDate" class="container"></div>
    <div id="form-checkout__securityCode" class="container"></div>
    <input type="hidden" id="amount" value="{{ product.price_discount }}" />
    <input type="text" id="form-checkout__cardholderName" />
    <select id="form-checkout__issuer" required></select>
    <select id="form-checkout__installments" required></select>
    <select id="form-checkout__identificationType" required></select>
    <input type="text" id="form-checkout__identificationNumber" required />
    <input type="email" id="form-checkout__cardholderEmail" required />

    <button type="submit" id="form-checkout__submit">Pagar</button>
    <progress value="0" class="progress-bar">Carregando...</progress>
  </form>

  <script src="https://sdk.mercadopago.com/js/v2"></script>
  <script src="/static/js/script.js"></script>
</section>
{% endblock %}