{% block content %}
<section class="header-whatsapp">
  <img src="./imgs/NomeMPM.png" alt="Logo">
</section>

<section class="grupo-whatsapp">

  <div>
    <h1>Parabens por realizar sua pré-inscrição no programa MPM - Movimento Positive-se Mulher</h1>
    <p>
      Clique no botão abaixo e entre no grupo exclusivo de lançamento e fique por dentro de todas as informações.
    </p>
    <a href="//"><i><img src="../static/imgs/whatsapp.png" alt="Whatsapp"></i> Entrar no grupo</a>
  </div>
</section>
{% endblock %}