{% extends 'base/_index.html' %}
{% block content %}
<section class="topo">
  <div class="texto-container">
    <img src="/static/imgs/positive-se_neg.png" alt="Logo" />
    <h1>Faça parte de um grupo seleto de empreendedoras.</h1>
    <hr />
    <p>Apoiar e inspirar mulheres a atingir seu máximo potencial em todas as áreas da vida e dos negócios.</p>
    <a href="http://" target="_blank" rel="noopener noreferrer">SEJA UMA POSITIVA</a>
  </div>
  <img src="/static/imgs/montagemCoracao.png" alt="Logo" />
</section>

<div class="separador">
  <h2>Impulsiona tua jornada empreendedora com uma comunidade que combina aprendizado presencial e online para
    impulsionar teu crescimento pessoal e profissional. Descubra o poder de pertencer!</h2>
</div>

<section class="sobre">
  <div class="cards">
    <div class="card">
      <h3>12 Pilares Fundamentais. Método MPM:</h3>
      <p>Explore e fortaleça os princípios essenciais que sustentam o movimento Positive-se Mulher.</p>
    </div>
    <div class="card">
      <h3>6 Imersões Presencias durante o Ano:</h3>
      <p>Participe de seis imersões anuais, oportunidades dedicadas para aprofundar conhecimentos e conectar-se com a
        comunidade.</p>
    </div>
    <div class="card">
      <h3>Comunidade de Mulheres Positivas:</h3>
      <p>Junte-se a uma comunidade dinâmica de empreendedoras, compartilhando experiências e apoio mútuo.</p>
    </div>
    <div class="card">
      <h3>Trilha Exclusiva no Portal das Positivas:</h3>
      <p>Fortalecendo sua jornada empreendedora, destacando os pilares essenciais: Empreendedorismo, Mentalidade e
        Posicionamento.</p>
    </div>
  </div>

  <div class="sobreAna">
    <img src="/static/imgs/AnaP.png" alt="" />

    <div>
      <h2>Sobre a idealizadora e o movimento.</h2>
      <hr />
      <p>
        Eu sou Ana Paula Bacelar e estou muito feliz em compartilhar contigo sobre o Positive-se Mulher, um movimento
        empreendedor incrível que foi idealizado com muito carinho! Como mãe, esposa, filha e empresária, e com uma
        longa trajetória no empreendedorismo, atuo como consultora empresarial e mentora comportamental, formada em
        administração de empresas e analista de perfil comportamental. Desenvolvi um programa exclusivo pensado para
        mulheres empreendedoras como você.
        <br />
        <br />
        Você pode fazer parte dessa comunidade especial do MPM. Aqui, a proposta é viver uma experiência única e
        resgatar toda a sua criatividade e essência empreendedora.
        <br />
        <br />
        Participando dos nossos encontros, terá a oportunidade de refletir sobre sua vida e negócio, tomar decisões
        importantes e se desenvolver em todos os aspectos. Desde aprender a se amar, perdoar, liberar, espiritualizar,
        empreender, inovar, se movimentar, transformar, meditar, se responsabilizar, se organizar e celebrar, cada passo
        é uma descoberta.
      </p>
    </div>
  </div>
</section>

<section class="cta">
  <div>
    <img src="/static/imgs/positive-se_branca.png" alt="Logo" />
    <a href="http://" target="_blank" rel="noopener noreferrer">QUERO SER UMA POSITIVA</a>
  </div>
  <img src="/static/imgs/img-quadro.PNG" alt="Imagem" />
  <img src="/static/imgs/flores-neg.png" alt="Flores" class="flores" />
</section>

<section class="topicos">
  <div>
    <h2>Veja alguns tópicos da Trilha de Jornadas do Portal:</h2>
  </div>

  <div>
    <ul>
      <li>Planejamento Estratégico</li>
      <li>Inovação voltada a pessoas e negócios</li>
      <li>Vendas estratégicas</li>
      <li>Tomada de decisão</li>
    </ul>
    <ul>
      <li>Gestão Empresarial</li>
      <li>Marketing</li>
      <li>Liderança Inspiradora</li>
      <li>Oratória</li>
    </ul>
  </div>
</section>

<section class="encontros">
  <h2>Confira um pouco dos encontros anteriores.</h2>
  <img src="/static/imgs/img-quadro.PNG" alt="Imagem" />
</section>

<section class="planos">
  <h3>Tudo o que você sempre quis para crescer ainda mais como empreendedora.</h3>
  {% for category in categories %}
  <p>{{ category.details }}</p>
  {% endfor %}
  <div class="planos-content">
    {% for product in products %}
    <div class="plano plano1">
      <h2>{{ product.name }}</h2>
      {% comment %}TODO: por um javascript para formatrar os valores em reais, pois no DB é salvo como decimal (ex:
      20.00){% endcomment %}
      <p>
        De <span id="valor-a-pagar">R${{ product.price_total }}</span> por R${{ product.price_discount }} ou
      </p>
      <h3>R${{ product.price_recurency }} */{{ product.type_recurency }}</h3>
      <p>{{ product.observation }}</p>
      <ul>{{ product.description|safe }}</ul>
      <a class="btn comprar-btn" class="comprar-btn" href="{% url 'checkout' product.id %}" target="_blank"
        class="btn btn-primary">Comprar</a>
      {% comment %} <button class="comprar-btn" onclick="{% url 'checkout' product.id %}" data-amount="967"
        data-plan="basico">COMPRAR</button> {% endcomment %}
    </div>
    {% endfor %}
  </div>
</section>

<section class="faq">
  <h2>PERGUNTAS FREQUENTES</h2>
  <div class="faq-container">
    <div class="faq-item">
      <div class="faq-question">
        <span>Qual duração do MPM?</span>
        <div class="arrow">&#62;</div>
      </div>
      <div class="faq-answer">
        <p>O movimento tem duração de 12 meses, podendo ser renovado ao término dos 12 meses.</p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        <span>Terei acesso a algum grupo?</span>
        <div class="arrow">&#62;</div>
      </div>
      <div class="faq-answer">
        <p>Sim, o movimento é feito de um grupo exclusivo que você poderá acessar diariamente.</p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        <span>Terá imersão presencial?</span>
        <div class="arrow">&#62;</div>
      </div>
      <div class="faq-answer">
        <p>Sim, você terá acesso a 6 imersões presenciais neste ano, caso faça parte do plano premium.</p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        <span>Será que funciona para mim?</span>
        <div class="arrow">&#62;</div>
      </div>
      <div class="faq-answer">
        <p>Se você é uma mulher empreendedora ou deseja empreender, buscando por criatividade, liberdade pessoal e
          profissional, aprecia o desenvolvimento pessoal e deseja ser alguém melhor todos os dias, o MPM é
          definitivamente para você.</p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        <span>O que terei acesso em relação à Plataforma?</span>
        <div class="arrow">&#62;</div>
      </div>
      <div class="faq-answer">
        <p>Você terá acesso a aulas em uma plataforma especializada, ministradas por especialistas nas áreas de
          empreendedorismo, planejamento estratégico, marketing e vendas, posicionamento, saúde e bem-estar,
          inteligência financeira e emocional, comunicação e oratória.</p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        <span>O que é a Roda da Mulher Positiva?</span>
        <div class="arrow">&#62;</div>
      </div>
      <div class="faq-answer">
        <p>É uma ferramenta, sendo o método principal do MPM (Movimento Positive-se Mulher), no qual trabalhamos e
          ajudamos a identificar o seu estado atual em cada pilar/área da sua vida e do seu negócio, medindo o índice de
          satisfação. Assim, também te auxilia a fazer uma autoavaliação.</p>
      </div>
    </div>
  </div>
</section>

<section id="form" class="form">
  <div class="form-img">
    <img src="/static/imgs/anacell.PNG" alt="" />
  </div>
  <div class="div-form">
    <img src="/static/imgs/positive-se_logo.png" alt="" />

    <form action="" method="POST">
      {% csrf_token %}
      <span>Inscreva-se e receba novidades e ofertas gratuitamente</span>
      {% if submitted %}
      <span class="submitted">Dados enviados!</span>
      {% endif %}
      {{ form.nome.as_field_group }}
      {{ form.email.as_field_group }}
      {{ form.phone.as_field_group }}
      {{ form.leadsource.as_field_group }}
      <input type="submit" class="btn" value="ENVIAR	" />
    </form>
  </div>
</section>

<script src="/static/js/script.js"></script>
{% endblock %}