{% block content %}
<section class="header-pre-inscricao">
  <img src="../static/imgs/NomeMPM.png" alt="Logo">
</section>

<section class="pre-inscricao">
  <div>
    <h3>LANÇAMENTO</h3>
    <h1>Programa MPM - Movimento Positive-se Mulher</h1>
    <p>
      <strong>
        Realize agora sua pré-inscrição no primeiro programa empresarial híbrido de Teresina e garanta uma
        oferta
        exclusiva.
      </strong>
      <br>
      Faça parte do mais novo programa da <strong>Positive Group Soluções Empresariais</strong>, onde você irá
      compreender teorias e
      práticas essenciais para impulsionar suas emoções positivas e seu negócio em 2024.
    </p>
    <h4>Este é o seu ano, prepare-se!<br> FAÇA SUA PRÉ-INSCRIÇÃO.</h4>
    <form>
      <label>Seu nome*</label>
      <input type="text" placeholder="Digite seu nome" required>
      <label>Número de telefone*</label>
      <input type="text" placeholder="11981281099" required>
      <button>Faça sua Pré-inscrição</button>
    </form>
  </div>
  <img src="../static/imgs/img-quadro.PNG" alt="Mulher">
</section>
{% endblock %}